---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title">
    {{ site.name | upcase }}
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href | prepend: site.github.url }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>
<div class="content list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in site.posts %}
  <div class="list-item">
    <div class="list-thumb">
        <a href="{{ post.url | prepend: site.github.url }}">
            {% if post.image != "" %}
                <!-- <div class="img-wrapper>" -->
                    <img src="{{ site.github.url}}/{{ post.image }}" />
                <!-- </div> -->
            {% else if post.video != "" %}
                <video autoplay loop>
                    <source src="{{ post.video }}" type="video/mp4">
                </video>
            {% endif %}
        </a>
    </div>
    <div class="list-text">
        <h2 class="list-post-title">
          <a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a>
        </h2>
        <div class="list-post-date">
          <time>{{ post.date | date: '%B %Y' }}</time>
        </div>
        <p>{{ post.excerpt | replace: '<em>', '_'
                           | replace: '</em>', '__'
                           | strip_html
                           | replace: '__', '</em>'
                           | replace: '_', '<em>'
                           | truncatewords: 50
            }}</p>
    </div>

  </div>
{% endfor %}
{% endif %}
</div>
